* {
    margin: 0px;
    padding: 0px;
}

/* --------Heading section-------- */
.heading {
    max-width: 1600px;
    background-color: #FFF;
}

.container {
    display: flex;
    align-items: center;
    width: 85%;
    min-height: 25rem;
    background-image: url("../images/Banner.png");
    background-size: cover;
    margin: 3rem auto;
    border-radius: 1rem;

}


.heading-content {
    max-width: 632px;
    width: 632px;
    color: blue;
    text-align: center;
    margin: 3rem auto;

}

.heading-title {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 4rem;
}

.heading-description {
    font-size: 3rem;
    font-weight: 700;
}

/* ------------Discount section-------- */
#discount {
    font-family: Inter;
    text-align: center;
}

#discount-title {
    color: #F00;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 700;

}

.para-description {
    color: #F00;
    font-size: 0.75rem;
    font-weight: 500;
    margin-top: 1rem;
}

.title {
    color: #070211;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 0.25rem;
}

.bg-pic {
    min-height: 50px;
    width: 45px;
}

/* ---------Midnight party section--------- */

#party-container {
    background-image: url("../images/Vector.png");
    background-size: cover;
}

.same-container {
    width: 85%;
    min-height: 18rem;
    margin: 3rem auto;
    border-radius: 1rem;

}

.party-title {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    margin-left: 6rem;
    padding-top: 4rem;
}

.party-description {
    width: 30rem;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    margin-left: 6rem;
    padding-top: 1rem;
}

.btn-party {
    margin-top: 0.5rem;
    padding: 0.2rem;
    border-radius: 0.25rem;
}

.btn-party a {
    text-decoration: none;
    color: #000;
}

/* ---------Hotel park section--------- */
.hotel-park {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

}

.hotel {
    text-align: center;
    color: #070211;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: Inter;
    line-height: 2rem;
    font-style: normal;
    text-transform: capitalize;
    padding-top: 4rem;
}

.park {
    color: #F00;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2rem;
    font-family: Inter;
    font-style: normal;
    text-transform: capitalize;
}

.btn-hotel a {
    text-decoration: none;
    color: #ffffff;
}

.btn-hotel {
    margin-top: 0.75rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    background: #F00;
    font-weight: 600;
    border: 2px solid #FFF;
}

/* ---------offer section--------- */
.offer {
    margin: 4rem auto;
    background-image: linear-gradient(180deg, rgba(0, 255, 0, 0.00) 100%, rgba(0, 255, 0, 0.1) 10%);
    margin-top: 4rem;
}

.offer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.offer-description {
    width: 25%;
    padding: 2rem;
    margin-right: 2rem;
}

.para {
    width: 48%;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 0.75rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.para-description {
    width: 5rem;
    color: rgba(7, 2, 17, 0.60);
    width: 18rem;
    color: #000;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
}

#offer-img {
    background-image: url("../images/Ellipse1.png");
    background-size: cover;
    min-height: 10rem;
    width: 10rem;
    border: 5px solid #F00;
    border-radius: 100%;

}

.offer-conclusion {
    width: 25%;
    padding: 3rem;
    margin-right: 4rem;

}

.offer-year {
    color: #F00;
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 700;
}

.offer-last-para {
    width: 3rem;
    color: rgba(7, 2, 17, 0.60);
    width: 18rem;
    color: #000;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 1rem;
}

#offer-img-2 {
    margin-top: 1rem;
}

/* ---------cards section-------- */
.cards-heading {
    margin-left: 2rem;
}

.gift {
    width: 48%;
    color: #F00;
    font-family: Inter;
    font-size: 0.75rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.cards-title {
    color: #070211;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 0.25rem;
}

.cards {
    width: 25%;
    margin: 30px;
}

.cards img {
    width: 100%;
}

.cards-container {
    display: flex;
    align-items: center;

}

/* -----------Newsletter section---------- */
.newsletter {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;

}

.newsletter-img img {
    max-width: 150px;
    width: 80px;
    margin: 1rem auto;
}

.news-description {
    width: 32rem;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem auto;
}

.newsletter-input {
    width: 40%;
    border: none;
    border-radius: 50px;
    margin: 1rem auto;
    border: none;

}

input {
    border: 2px solid #FFF;
    min-height: 20px;
}

.btn-newsletter a {
    text-decoration: none;
    color: #ffffff;
}

.btn-newsletter {

    text-align: center;
    min-height: 23px;
    margin-left: -5px;
    padding: 5px;
    font-weight: 600;
    text-transform: capitalize;
    border: 2px solid #FFF;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}

/* -----------Footer section---------- */

/* ------address & copyrights section */
footer{
    width: 100%;
    color: #FFF;
    background-color: #000;
}
.address{
    width: 24%;
}
.contact-items img{
width: 15px;
text-align: center;
margin: 0.35rem;
}
.contact-items{

margin-top: 0.35rem;
}
.contact{
    display: flex;
    flex-direction: row;
    align-items: center;  
}
.contact-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0rem;
}
/* -----social media section------ */
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media img{
    width:2rem;
    margin: 3rem 0.5rem;
}
/* ------unsubscribe section------ */
#Unsubscribe button{
    background-color: #000;
    color: #ffffff;
    border: 2px solid #646161;
    border-radius: 0.20rem;
    margin-right: 2rem;
    padding: 0.25rem;
}