* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif, 'Merriweather', serif;
    ;

}

/* --------Heading section-------- */
.heading {
    max-width: 1600px;
    background-color: #FFF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82.5%;
    min-height: 25rem;
    background-image: url("../images/Banner.png");
    background-size: cover;




}


.heading-content {
    max-width: 632px;
    color: #FFF;
    margin: 12rem 3rem;
    padding: 1rem;

}

.heading-title {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 4rem;
}

.heading-description {
    color: #FFF;
    text-align: center;
    font-size: 4.5rem;
    font-family: Merriweather;
    line-height: 95px;
    font-weight: 900;
}

/* ------------Discount section-------- */
#discount {
    font-family: Inter;
    text-align: center;
}

.discount-content p {
    margin: 1rem auto;
}

#discount-title {
    color: #F00;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 700;

}

.para-des {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

.title {
    color: #070211;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 0.25rem;
}

.bg-pic {
    min-height: 50px;
    width: 33%;
    margin-top: 2rem;
}

/* ---------Midnight party section--------- */

#party-container {
    height: 35rem;
    background-image: url("../images/Vector.png");
    background-size: cover;
    margin-bottom: 8rem;
}

.same-container {
    width: 82.5%;
    min-height: 18rem;
    margin: 3rem auto;
    border-radius: 1rem;

}

.party-title {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    margin-left: 6rem;
    padding-top: 4rem;
}

.party-description {
    width: 30rem;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 1.35rem;
    font-style: normal;
    font-weight: 400;
    margin-left: 6rem;
    padding-top: 1rem;
}

.btn-party {
    margin-top: 2.5rem;
    padding: 0.5rem;
    border-radius: 0.35rem;
    font-weight: 500;
    font-size: 1.2rem;
    width: 8rem;
}

.btn-party a {
    text-decoration: none;
    color: #000;
}

.party {
    margin: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year {
    width: 20%;
    margin: 0px;
    position: relative;
    right: 10rem;
    top: 5rem;
}

.year img {
    width: 100%;
}

/* ---------Hotel park section--------- */
.hotel-park {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-bottom: 10rem;
}

.hotel {
    text-align: center;
    color: #070211;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: Inter;
    line-height: 2rem;
    font-style: normal;
    text-transform: capitalize;
    padding-top: 4rem;
}

.park {
    color: #F00;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2rem;
    font-family: Inter;
    font-style: normal;
    text-transform: capitalize;
}

.btn-hotel a {
    text-decoration: none;
    color: #ffffff;
}

.btn-hotel {
    margin-top: 0.75rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    background: #F00;
    font-weight: 600;
    border: 2px solid #FFF;
}

/* ---------offer section--------- */
.offer {
    margin: 4rem auto;
    background-image: linear-gradient(180deg, rgba(0, 255, 0, 0.00) 100%, rgba(0, 255, 0, 0.1) 10%);
    margin-top: 4rem;
}

.offer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
}

.container {
    text-align: center;
}

.offer-description {
    width: 25%;
    padding: 2.25rem;
    margin-right: 2rem;
}

.para {
    width: 48%;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 0.75rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.para-description {
    width: 5rem;
    color: rgba(7, 2, 17, 0.60);
    width: 28rem;
    text-align: left;
    color: #000;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
}

#offer-img {
    width: 25%;
    padding: 0.5rem;
    border: 5px solid #F00;
    border-radius: 100%;

}

#offer-img img {
    width: 100%;
}

.offer-conclusion {
    width: 25%;
    padding: 3rem;
    margin-right: 4rem;

}

.offer-year {
    color: #F00;
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 700;
}

#offer-img-2 {
    margin-top: 1rem;
}

/* ---------Holyday sale section--------- */
.holyday-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 4.5rem;
    font-weight: 900;
}

.set-color {
    color: #F00;
}

.holyday-img {
    position: relative;
}

#smiling-girl {
    width: 30%;
    position: absolute;
    right: -13px;
    bottom: 229px;
    z-index: 1;

}

#dis-50 {
    position: absolute;
    right: 220px;
    bottom: 260px;
    z-index: 2;
}

#box {
    position: relative;
    left: -78px;
    bottom: -237px;
    z-index: 1;
}

#red image {
    width: 100%;
}

.holyday {
    margin-bottom: 5rem;
}

/* ---------cards section-------- */
.cards-heading {
    margin-left: 2rem;
}

.gift {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

.cards-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 3rem;
    font-weight: 900;
    text-transform: capitalize;
}

.cards {
    width: 25%;
    margin: 30px;
}

.cards img {
    width: 100%;
}

.cards-container {
    display: flex;
    align-items: center;

}

.all-cards {
    margin-bottom: 5rem;
}
.cards:hover{
    transform: rotate(360deg);
    transition: 1.3s;
}
/* -----------Newsletter section---------- */
.newsletter {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin-bottom: 5rem;
    height: 24rem;
}

.newsletter-img img {
    max-width: 150px;
    width: 80px;
    margin: 1rem auto;
}


.news-description {
    width: 32rem;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 2rem auto;
}

.newsletter-input {
   
    border-radius: 50px;
    margin: 1rem auto;
    border: none;
    width: 648px;
    height: 72px;
}

input {
    border: 2px solid #FFF;
    min-height: 20px;
    width: 55%;
    height: 35px;
    padding: 0.35rem;
    border-radius: 2rem 0px 0px 2rem;
}

.btn-newsletter a {
    text-decoration: none;
    color: #ffffff;
}

.btn-newsletter {
    max-width: 210px;
    max-height: 72px;
    width: 210px;
    height: 3.25rem;
    text-align: center;
    margin-left: -5px;
    font-weight: 600;
    text-transform: capitalize;
    border: 2px solid #FFF;
    border-radius: 0px 50px 50px 0px;
    background: #F00;

}

/* -----------Footer section---------- */

footer {
    width: 100%;
    color: #FFF;
    background-color: #000;
    margin-bottom: 0rem;
}

.address {
    width: 24%;
}

.contact-items img {
    width: 15px;
    text-align: center;
    margin: 0.35rem;
}

.contact-items {

    margin-top: 0.35rem;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0rem;
}

/* -----social media section------ */
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media img {
    width: 2rem;
    margin: 3rem 0.5rem;
}

/* ------unsubscribe section------ */
#Unsubscribe button {
    background-color: #000;
    color: #ffffff;
    border: 2px solid #646161;
    border-radius: 0.20rem;
    margin-right: 2rem;
    padding: 0.25rem;
}

hr {
    opacity: 0.2;
}